$color1: #2c945d;
$color-dark: #483D3F;
$color-light: #F8F4E3;

.full-section {
    margin: 1rem;
    padding: 1rem;
    border: 1px solid black;
    border-radius: 5px;
}

.run-section {
    margin: 1rem;
}

input.file-button {
    display: none;
}

.success-button {
    cursor: pointer;
    background-color: $color1;
    padding: 0.25rem;
    border-radius: 5px;
    color: $color-light;
    display: inline-block;

    &.disabled {
        background-color: desaturate($color1, 50%);
        cursor: not-allowed;
    }
}

.grid-options {
    display: grid;
    grid-template-columns: 2fr 2fr 3fr;
    row-gap: 1rem;
}

.grid-additional-options {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    row-gap: 0.5rem;
    column-gap: 0.5rem;
}

.vertical-sep {
    height: 2rem;
}

.align-right {
    text-align: right;
}

.clickable {
    cursor: pointer;
}

.scroll-table-wrapper {
    overflow-x: scroll;
}

.pathway-picker {
    border-spacing: 0;

    td,th {
        padding: 0.5rem 0.25rem;
    }

    th {
        border-top: solid 0.25px $color-dark;
        border-bottom: solid 0.25px $color-dark;
    }

    tr:nth-child(even) {
        background-color: $color-light;
    }
}