<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>PINE</title>
    <link href="./css/index.css" rel="stylesheet" type="text/css" />
    <link href="./css/fontawesome-free-5.11.2-web/css/all.min.css" rel="stylesheet" type="text/css" />
  </head>
  <body>
    <div id="app">
      <div class="overlay" v-show="show_about">
        <div class="box-children-center-center">
          <div class="about-box">
            <h4>PINE - Protein Interaction Network Extractor</h4>
            <p>Developed at Cedars-Sinai</p>
            <hr/>
            <div>
              <span class="button" v-on:click="() => show_about = false">Close</span>
            </div>
          </div>
        </div>
      </div>

      <ul class="tab-selector">
        <li v-on:click="switchTab(tabs.SETUP)" v-bind:class="{'disabled': !tab_reachable(tabs.SETUP), 'active': current_tab === tabs.SETUP}">Setup</li>
        <li v-on:click="switchTab(tabs.INPUT)" v-bind:class="{'disabled': !tab_reachable(tabs.INPUT), 'active': current_tab === tabs.INPUT}">Settings</li>
        <li v-on:click="switchTab(tabs.PROGRESS)" v-bind:class="{'disabled': !tab_reachable(tabs.PROGRESS), 'active': current_tab === tabs.PROGRESS}">Log</li>
        <li v-on:click="switchTab(tabs.PATHWAY_SELECTION)" v-bind:class="{'disabled': !tab_reachable(tabs.PATHWAY_SELECTION), 'active': current_tab === tabs.PATHWAY_SELECTION}">Pathway Selection</li>
      </ul>

      <div class="full-section wrapper">

        <div v-if="current_tab === tabs.SETUP">
          <div class="grid-about-pine">
            <div class="text-align-center">
              <img src="assets/pine.png" class="pine-img" />
            </div>
            <div>
              <h2>
                <span class="color-3">P</span>rotein <span class="color-3">I</span>nteraction <span class="color-3">N</span>etwork <span class="color-3">E</span>xtractor
              </h2>
              <p>
                A tool that enables extraction and visualization of protein-protein interactions from publicly available databases to reveal complex context-specific functional networks.
              </p>
            </div>
          </div>
          <h4 class="full-section-header">Configuration</h4>
          <section class="full-section">
            <div v-show="!settings_editable()" class="full-section-cover"></div>
            <div class="grid-config-options">
              <div class="align-right">Cytoscape path</div>
              <div>
                <label class="button success-button" for="file-button-cytoscape">Select file</label>
                <input class="file-button" id="file-button-cytoscape" v-on:change="inputFileChange($event, 'cytoscape_path')" type="file" accept=".exe" />
              </div>
              <div>
                {{ input.cytoscape_path }}
                <span v-show="!input.cytoscape_path" class="small-info">To continue, please provide a path to your Cytoscape executable.</span>
              </div>

              <div class="align-right">ClueGO directory</div>
              <div>
                <label class="button success-button" for="file-button-cluego">Select file</label>
                <input class="file-button" id="file-button-cluego" v-on:change="inputFileChange($event, 'cluego_base_path')" type="file" webkitdirectory />
              </div>
              <div>
                {{ input.cluego_base_path }}
                <span v-show="!input.cluego_base_path" class="small-info">To continue, please provide a path to your ClueGO data files.</span>
                <select v-model="cluego_picked_version" v-show="input.cluego_base_path">
                  <option v-for="cv in cluego_versions" v-bind:value="cv">
                    {{ cv.version }}
                    {{ cv.latest ? "(latest)" : "" }}
                  </option>
                </select>
              </div>
            </div>
          </section>
          <h4 class="full-section-header">Requirements</h4>
          <section class="full-section full-section-sm-padding">
            <div class="grid-about-requirements">
              <div class="box-children-center-center">
                <h4>Cytoscape</h4>
                <img class="clickable" v-on:click="open_url('https://cytoscape.org/')" src="assets/Cytoscape.jpg" />
              </div>
              <div class="box-children-center-center">
                <h4>GeneMANIA</h4>
                <img class="clickable" v-on:click="open_url('http://apps.cytoscape.org/apps/genemania')" src="assets/genemania.png" />
              </div>
              <div class="box-children-center-center">
                <h4>ClueGO</h4>
                <img class="clickable" v-on:click="open_url('http://apps.cytoscape.org/apps/cluego')" src="assets/cluego-web-logo.png" />
              </div>
              <div>
                <p>
                  To install apps within Cytoscape, go to the menu bar and choose <strong>Apps &rightarrow; App Manager...</strong>
                </p>
                <p>
                  In the <strong>Install Apps</strong> tab &rightarrow; enter the required app in the <strong>Search</strong> field &rightarrow; then click on the the specified app name &rightarrow; lastly click the <strong>Install</strong> button.
                </p>
                <p>
                  Additionally, we recommend installing and using the <strong>yFiles Layout Algorithms</strong> app to improve your layouts after PINE has finished building your network.
                </p>
              </div>
            </div>
          </section>
          <section class="run-section">
            <span class="button success-button big" v-on:click="open_url('mailto:GroupHeartBioinformaticsSupport@cshs.org')">Email</span>
            <span class="horizontal-sep"></span>
            <span class="button success-button big" v-on:click="open_url('https://github.com/csmc-vaneykjlab/pine#cite-us')">Cite Us</span>
            <span class="horizontal-sep"></span>
            <span class="button success-button big" v-on:click="open_url('https://github.com/csmc-vaneykjlab/pine/blob/master/README.md')">Help</span>
            <span class="horizontal-sep"></span>
            <span class="button success-button big" v-on:click="switchTab(tabs.CREDITS)">Credits</span>
          </section>
        </div>

        <div v-if="current_tab === tabs.INPUT">

          <h4 class="full-section-header">Required options</h4>
          <div class="full-section">
            <div v-show="!settings_editable()" class="full-section-cover"></div>
            <div class="grid-options">

              <div class="align-right relative">
                <div class="missing-file" v-show="missing_files.in && !settings_editable()">
                  Missing input file: {{ input.in }}
                </div>
                <span class="tooltip-parent">
                  Input file <i class="far fa-question-circle"></i>
                  <div class="tooltip">Input file in csv format.</div>
                </span>
              </div>
              <div>
                <label class="button success-button" for="file-button-input">Select file</label>
                <input class="file-button" id="file-button-input" v-on:change="inputFileChange($event, 'in')" type="file" accept=".csv" />
                <span class="text-small" v-show="input.in" v-bind:title="input.in">{{ input.in | filename }}</span>
                <span class="tooltip-parent" v-show="missing_files.in">
                  <i class="fas fa-exclamation-circle color-2"></i>
                  <div class="tooltip">Input file is missing</div>
                </span>
              </div>

              <div></div>

              <div class="align-right">
                <span class="tooltip-parent">
                  Type <i class="far fa-question-circle"></i>
                  <div class="tooltip">Analysis type</div>
                </span>
              </div>
              <div>
                <select v-model="input.type">
                  <option v-for="(val, key) in allowed_types" v-bind:value="key">{{ val.text }}</option>
                </select>
              </div>

              <div class="align-right relative">
                <div class="missing-file" v-show="missing_files.output && !settings_editable()">
                  Missing output directory: {{ input.output }}
                </div>
                <span class="tooltip-parent">
                  Output directory <i class="far fa-question-circle"></i>
                  <div class="tooltip">Path to output directory.  A timestamped subdirectory will be created inside your output directory for each analysis.</div>
                </span>
              </div>
              <div>
                <label class="button success-button" for="file-button-output">Select directory</label>
                <input class="file-button" id="file-button-output" type="file" v-on:change="inputFileChange($event, 'output')" webkitdirectory />
                <span class="text-small" v-show="input.output" v-bind:title="input.output">{{ input.output | filename }}</span>
                <span class="tooltip-parent" v-show="missing_files.output">
                  <i class="fas fa-exclamation-circle color-2"></i>
                  <div class="tooltip">Output directory is missing</div>
                </span>
              </div>

              <div></div>

              <div class="align-right">
                <span class="tooltip-parent">
                  Species <i class="far fa-question-circle"></i>
                  <div class="tooltip">We currently only support mouse, human and rat.  Mouse and human are supported by default in ClueGO but rat needs to be downloaded manually.</div>
                </span>
              </div>
              <div>
                <select v-model="input.species" v-if="cluego_picked_version">
                  <option v-for="species in selectable_species" v-bind:value="species.name" :disabled="!species.selectable">
                    {{ species.name }}
                  </option>
                </select>
              </div>

              <div v-if="is_extra_options_required()" class="align-right relative">
                <div class="missing-file" v-show="missing_files.fasta_file && !settings_editable()">
                  Missing fasta file: {{ input.fasta_file }}
                </div>
                <span class="tooltip-parent">
                  Fasta file <i class="far fa-question-circle"></i>
                  <div class="tooltip">Path to fasta file</div>
                </span>
              </div>
              <div v-if="is_extra_options_required()">
                <label class="button success-button" for="file-button-fasta">Select file</label>
                <input class="file-button" id="file-button-fasta" type="file" v-on:change="inputFileChange($event, 'fasta_file')" accept=".fasta" />
                <span class="text-small" v-show="input.fasta_file" v-bind:title="input.fasta_file">{{ input.fasta_file | filename }}</span>
                <span class="tooltip-parent" v-show="missing_files.fasta_file">
                  <i class="fas fa-exclamation-circle color-2"></i>
                  <div class="tooltip">Fasta file is missing</div>
                </span>
              </div>

              <div v-if="is_extra_options_required()"></div>

              <div class="align-right" v-if="is_extra_options_required()">
                <span class="tooltip-parent">
                  Enzyme <i class="far fa-question-circle"></i>
                  <div class="tooltip">Enzyme name</div>
                </span>
              </div>
              <div v-if="is_extra_options_required()">
                <select v-model="input.enzyme">
                  <option v-for="(val, key) in allowed_enzymes" v-bind:value="key">{{ val }}</option>
                </select>
              </div>

              <div v-if="is_extra_options_required()"></div>
              <div v-if="is_extra_options_required()"></div>
              <div v-if="is_extra_options_required()"></div>

              <div class="align-right" v-if="is_extra_options_required()">
                <span class="tooltip-parent">
                  Modifications <i class="far fa-question-circle"></i>
                  <div class="tooltip">Comma separated list of modifications of interest.</div>
                </span>
              </div>
              <div v-if="is_extra_options_required()">
                <input type="text" v-model="input.mods" />
                <span v-show="!validate_inputs_mods()" class="tooltip-parent">
                  <i class="fas fa-exclamation-circle color-2"></i>
                  <div class="tooltip tooltip-right">
                    Modifications must be a comma separated list of amino acids with or without modifications.
                    Example: S,T,Y or K(Unimod:1) or S[+80]
                  </div>
                </span>
              </div>

            </div>
          </div>

          <h4 class="full-section-header">Additional options</h4>
          <div class="full-section">
            <div v-show="!settings_editable()" class="full-section-cover"></div>

            <div class="grid-options">

              <div class="align-right">
                <span class="tooltip-parent">
                  Fold change cutoff <i class="far fa-question-circle"></i>
                  <div class="tooltip">Fold change cutoff for input. All fold change or log fold change values >= cutoff or <= -(cutoff) will be retained.</div>
                </span>
              </div>
              <div>
                <input type="number" step="0.01" min="0" v-model="input.fccutoff" />
                <span class="tooltip-parent" v-show="!validate_inputs_fccutoff()">
                  <i class="fas fa-exclamation-circle color-2"></i>
                  <div class="tooltip">Must be a number greater than or equal to 0.0</div>
                </span>
              </div>

              <div></div>

              <div class="align-right">
                <span class="tooltip-parent">
                  P-value cutoff <i class="far fa-question-circle"></i>
                  <div class="tooltip">P-value cutoff for input. All p-values or adjusted p-value <= cutoff will be retained. If both are provided, adjusted p-value takes precedence.</div>
                </span>
              </div>
              <div>
                <input type="number" step="0.01" min="0" max="1" v-model="input.pvalcutoff" />
                <span class="tooltip-parent" v-show="!validate_inputs_pvalcutoff()">
                  <i class="fas fa-exclamation-circle color-2"></i>
                  <div class="tooltip tooltip-right">Must be a number between 0.0 and 1.0</div>
                </span>
              </div>

              <div class="align-right tooltip-parent">
                Outline significant <i class="far fa-question-circle"></i>
                <div class="tooltip">Outline statistically significant nodes (p-value or adjusted p-value <= 0.05)</div>
              </div>

              <div class="checkboxes">
                <div>
                  <input type="checkbox" v-model="input.significant" />
                </div>

                <div class="align-right tooltip-parent">
                  Exclude ambiguity <i class="far fa-question-circle"></i>
                  <div class="tooltip">Remove all protein, gene and PTM site level ambiguity. (See ambiguity warning in the log).</div>
                </div>

                <div>
                  <input type="checkbox" v-model="input.remove_ambiguous" />
                </div>
              </div>

              <div class="align-right">
                <span class="tooltip-parent">
                  Database <i class="far fa-question-circle"></i>
                  <div class="tooltip">Protein-protein interaction databases.</div>
                </span>
              </div>
              <div>
                <select v-model="input.run">
                  <option v-for="ar in allowed_runs" v-bind:value="ar">{{ ar }}</option>
                </select>
              </div>

              <div class="align-right">
                <span class="tooltip-parent">
                  Confidence score <i class="far fa-question-circle"></i>
                  <div class="tooltip">Interaction confidence score for STRING. Highest = 0.9, high = 0.7, medium = 0.4, low = 0.15</div>
                </span>
              </div>
              <div>
                <input v-model="input.score" type="number" step="0.01" min="0.0" max="0.99" />
                <span class="tooltip-parent" v-show="!validate_inputs_score()">
                  <i class="fas fa-exclamation-circle color-2"></i>
                  <div class="tooltip">Must be a number between 0.0 and 0.99</div>
                </span>
              </div>

              <div></div>

              <div class="align-right">
                <span class="tooltip-parent">
                  # of interactors <i class="far fa-question-circle"></i>
                  <div class="tooltip">Maximum number of external interactors.</div>
                </span>
              </div>
              <div>
                <input type="number" step="1" min="0" max="100" v-model="input.limit" />
                <span class="tooltip-parent" v-show="!validate_inputs_limit()">
                  <i class="fas fa-exclamation-circle color-2"></i>
                  <div class="tooltip tooltip-right">Must be a number between 0 and 100</div>
                </span>
              </div>

              <div class="align-right">
                <span class="tooltip-parent">
                  Visualize <i class="far fa-question-circle"></i>
                  <div class="tooltip">Ontology type. Pathways include REACTOME, KEGG, CLINVAR and Wiki. GO terms for molecular function, biological process and cellular component.</div>
                </span>
              </div>
              <div>
                <select v-model="input.visualize">
                  <option v-for="av in allowed_visualize" v-bind:value="av">{{ av }}</option>
                </select>
              </div>

              <div></div>

              <div class="align-right">
                <span class="tooltip-parent">
                  ClueGO grouping <i class="far fa-question-circle"></i>
                  <div class="tooltip">Network specificity indicating general, representative and specific pathways.</div>
                </span>
              </div>
              <div>
                <select v-model="input.grouping">
                  <option v-for="acg in allowed_grouping" v-bind:value="acg">{{ acg }}</option>
                </select>
              </div>

              <div class="align-right relative">
                <div class="missing-file" v-show="missing_files.reference_path && !settings_editable()">
                  Missing reference file: {{ input.reference_path }}
                </div>
                <span class="tooltip-parent">
                  ClueGO p-value <i class="far fa-question-circle"></i>
                  <div class="tooltip">P-value cutoff for enrichment analysis.</div>
                </span>
              </div>
              <div>
                <input type="number" step="0.01" min="0.0" max="1.0" v-model="input.cluego_pval" />
                <span class="tooltip-parent" v-show="!validate_inputs_cluego_pval()">
                  <i class="fas fa-exclamation-circle color-2"></i>
                  <div class="tooltip">Must be a number between 0.0 and 1.0</div>
                </span>
              </div>

              <div></div>

              <div class="align-right">
                <span class="tooltip-parent">
                  Reference file <i class="far fa-question-circle"></i>
                  <div class="tooltip">Background reference file containing a list of protein or gene IDs for enrichment analysis in text format.</div>
                </span>
              </div>
              <div>
                <label class="button success-button" for="file-button-reference">Select file</label>
                <input class="file-button" id="file-button-reference" type="file" v-on:change="inputFileChange($event, 'reference_path')" accept=".txt" />
                <span class="text-small" v-show="input.reference_path" style="margin-top: 0.5rem" v-bind:title="input.reference_path">
                  {{ input.reference_path | filename }}
                  <i class="fas fa-times-circle color-2 clickable" v-on:click="set_input('reference_path', '')"></i>
                </span>
                <span class="tooltip-parent" v-show="missing_files.reference_path">
                  <i class="fas fa-exclamation-circle color-2"></i>
                  <div class="tooltip">Reference file is missing</div>
                </span>
              </div>

              <div></div>
              <div></div>

            </div>
          </div>

          <section class="run-section">
            <input type="text" placeholder="Name your analysis directory" size="30" v-model="input.output_name" v-show="settings_editable()" />
            <span class="button success-button big" v-show="settings_editable()" v-bind:class="{'disabled': !runnable()}" v-on:click="run_full()">Start</span>
            <span class="horizontal-sep" v-show="settings_editable()"></span>
            <span class="button success-button big" v-show="settings_editable()" v-on:click="set_input_defaults()">Reset</span>
            <span class="horizontal-sep" v-show="settings_editable()"></span>
            <span class="button success-button big" v-show="session_exists() && !running" v-on:click="reset_session()">New Session</span>
            <span class="horizontal-sep" v-show="session_exists() && !running"></span>
            <label v-show="!running" class="button success-button big" for="file-button-load-session">Load session</label>
            <input class="file-button" id="file-button-load-session" type="file" v-on:change="user_load_session($event)" webkitdirectory/>
          </section>
        </div>

        <div v-if="current_tab === tabs.PROGRESS">
          <div style="margin-bottom: 0.25rem" class="full-section-header-wrapper">
            <h4 class="full-section-header" v-show="running">
              Analysis running:
              <i class="fas fa-spinner fa-pulse"></i>
            </h4>

            <div class="float-right" v-show="running">
              <div class="button danger-button" v-on:click="cancel_pine()"><i class="far fa-stop-circle"></i> Cancel</div>
            </div>
          </div>

          <div id="log-wrapper" class="full-section log-wrapper">
            <div class="log-stderr">{{ stderr }}</div>
            <div class="log-stdout">{{ stdout }}</div>
          </div>
        </div>

        <div v-if="current_tab === tabs.PATHWAY_SELECTION">
          <div class="full-section">
            <div class="grid-pathway-selection-header">
              <div class="tooltip-parent">
                Pathway selection <i class="far fa-question-circle"></i>
                <div class="tooltip">Choose a subset of pathways to analyze.</div>
              </div>
              <div>
                Filter: <input type="text" v-model="cluego_pathways.query" size="15" />
              </div>
              <div>
                <select class="select-pathway-category" v-model="cluego_pathways.ontology_sources_filter">
                  <option v-for="source in cluego_pathways_filtered.ontology_sources" v-bind:value="source.name">
                      ({{ source.count }})
                      {{ source.name }}
                  </option>
                </select>
              </div>
              <div>
                <span class="button danger-button" v-if="cluego_pathways.sort" v-on:click="cluego_pathways_sort_clear()">
                  <i class="fas fa-times"></i>
                  {{ cluego_pathways.sort.display }}
                  ({{ cluego_pathways.sort.order }})
                </span>
                <span class="button danger-button" v-show="cluego_pathways_filtered.n_selected > 0" v-on:click="cluego_pathways_unselect_all()">
                  <i class="fas fa-times"></i>
                  Unselect all ({{ cluego_pathways_filtered.n_selected }})
                </span>
              </div>
            </div>
            <div class="vertical-sep"></div>

            <div class="scroll-table-wrapper">
              <table class="pathway-picker">
                <thead>
                  <tr>
                    <th>
                      <i v-on:click="cluego_pathways_sort('selected', 'Selected')" class="fas fa-sort-amount-down-alt clickable color-1"></i>
                    </th>
                    <th style="width: 25rem">
                      GO term
                      <i v-on:click="cluego_pathways_sort('GOTerm', 'GO term')" class="fas fa-sort-amount-down-alt clickable color-1"></i>
                    </th>
                    <th>
                      P-value
                      <i v-on:click="cluego_pathways_sort('Term PValue', 'P-value')" class="fas fa-sort-amount-down-alt clickable color-1"></i>
                    </th>
                    <th>
                      Adj. p-value
                      <i v-on:click="cluego_pathways_sort('Term PValue Corrected with Bonferroni step down', 'Adj. p-value')" class="fas fa-sort-amount-down-alt clickable color-1"></i>
                    </th>
                    <th>
                      % genes
                      <i v-on:click="cluego_pathways_sort('% Associated Genes', '% genes')" class="fas fa-sort-amount-down-alt clickable color-1"></i>
                    </th>
                    <th>
                      # of genes
                      <i v-on:click="cluego_pathways_sort('Nr. Genes', '# of genes')" class="fas fa-sort-amount-down-alt clickable color-1"></i>
                    </th>
                  </tr>
                </thead>
                <tbody>
                  <tr v-for="pathway in cluego_pathways_filtered.data">
                    <td>
                      <span class="pathway-select-checkbox" v-on:click="toggle_pathway_selected(pathway)">
                        <i class="far fa-check-square" v-show="pathway.selected"></i>
                        <i class="far fa-square" v-show="!pathway.selected"></i>
                      </span>
                    </td>
                    <td>
                      {{ pathway.data['GOTerm'] }}
                      <span class="tooltip-parent">
                        <i class="fas fa-info-circle"></i>
                        <div class="tooltip">{{ pathway.data | ontology_source_category_name }}</div>
                      </span>
                    </td>
                    <td class="align-right">{{ pathway.data['Term PValue'] | roundString(4) }}</td>
                    <td class="align-right">{{ pathway.data['Term PValue Corrected with Bonferroni step down'] | roundString(4) }}</td>
                    <td class="align-right">{{ pathway.data['% Associated Genes'] | roundString(2) }}%</td>
                    <td class="align-right">{{ pathway.data['Nr. Genes'] }}</td>
                  </tr>
                  <tr v-for="(i,ix) in cluego_pathways_filtered.n_empty_rows">
                    <!-- empty rows to so there is always the same number per page -->
                    <td v-for="(j,jx) in 6"></td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="vertical-sep"></div>
            <div class="noselect">
              <div class="button" v-bind:class="{'disabled-light': cluego_pathways.page <= 1}" v-on:click="change_cluego_pathways_page(1)">
                <i class="fas fa-angle-double-left"></i>
              </div>
              <div class="button" v-bind:class="{'disabled-light': cluego_pathways.page <= 1}" v-on:click="change_cluego_pathways_page(cluego_pathways.page - 1)">
                <i class="fas fa-angle-left"></i>
              </div>
              {{ cluego_pathways.page }}
              <div class="button" v-bind:class="{'disabled-light': cluego_pathways.page >= cluego_pathways_filtered.n_pages}" v-on:click="change_cluego_pathways_page(cluego_pathways.page + 1)">
                <i class="fas fa-angle-right"></i>
              </div>
              <div class="button" v-bind:class="{'disabled-light': cluego_pathways.page >= cluego_pathways_filtered.n_pages}" v-on:click="change_cluego_pathways_page(cluego_pathways_filtered.n_pages)">
                <i class="fas fa-angle-double-right"></i>
              </div>
            </div>
          </div>
          <div class="run-section">
            <input type="text" placeholder="Name your reanalysis file (optional)" size="30" v-model="reanalysis_name" class="big" />
            <div v-on:click="run_with_cluego_subset()" class="button success-button big" v-bind:class="{'disabled': !runnable_with_cluego_subset()}">
              Reanalyze ({{ cluego_pathways_filtered.n_selected }})
            </div>
            <span class="horizontal-sep"></span>
            <span class="tooltip-parent">
              <span v-on:click="open_session_dir()" class="big button success-button">Open folder <i class="fas fa-folder-open color-3"></i></span>
              <div class="tooltip">Open your results directory</div>
            </span>
            <span class="horizontal-sep"></span>
            <span class="tooltip-parent">
              <span v-on:click="open_last_cytoscape_file()" class="big button success-button">Open .cys file <img src="assets/Picture2.png" style="height:1rem" /></span>
              <div class="tooltip">View your Cytoscape file</div>
            </span>
          </div>
        </div>
        <div v-if="current_tab === tabs.CREDITS">
          <div class="full-section-header-wrapper">
            <h4 class="full-section-header">Credits</h4>
            <div class="float-right">
              <span class="button success-button" v-on:click="switchTab(tabs.SETUP)">Back</span>
            </div>
          </div>
          <div class="full-section credits">
            <div class="credit" v-for="(credit, credit_ix) in credits">
              <div>
                <h4>{{ credit.name }}</h4>
                <div class="float-right">
                  <a href="#" v-show="credit.license_file" v-on:click="toggle_show_license(credit)">[ Show license ]</a>
                  <span v-show="credit.license_file">|</span>
                  <a href="#" v-on:click="open_url(credit.url)" v-bind:title="credit.url" >URL</a>
                </div>
              </div>

              <div v-show="credit.show_license">
                <div class="vertical-sep"></div>
                <div class="license">{{ credit.license }}</div>
              </div>

              <hr v-show="credit_ix != credits.length - 1" />
            </div>
          </div>
        </div>
      </div>
    </div>

    <script src="./index.js"></script>
  </body>
</html>
